*,.wrap{
    padding: 0;
    margin: 0;
    text-align: center;
}
.top{
    width: 99%;
    max-width: 600px;
    height: 200px;
    background-clip: content-box;
    background-origin: content-box;
    background-size:cover; 
    position: relative;
    margin: auto;
}

.top_pile{
    background-image: url(../../img/topbg2.jpg);
     max-width: 600px;
}

.top_car{
    background-image: url(../../img/rent_car1.jpg);
     max-width: 600px;
}

.top p{
    background-color:rgba(90, 83, 83, 0.3);
    color: rgb(238, 223, 223);
    width:98%;
    line-height: 30px;
    font-size: 17px;
    text-align: center;
    /* margin-top:10px;  */
    padding-top: 30px;
    font-family: 'yahei';

}

.top span{
    background-color: rgba(19, 17, 17, 0.5);
    color: #2AC845;
    font-size: 12px;
    width: 94%;
    position: absolute;
    text-align: left;
    left: 0px;
    bottom: 0px;
    padding: 5px 10px;
    background: linear-gradient(to bottom,rgba(173, 173, 158, 0.3) 30%,#1f1d1d 80%);

}

h3 img{
    width: 20px;
    height: 20px;
    background-clip: content-box;
    background-origin: content-box;
    background-size: cover;
    /* display: inline-block; */
    /* box-sizing: border-box; */
    vertical-align: middle;
    /* border-radius: 10px; */

}

.wrap-p{
    text-indent:25px;
}

.float_M .center{
	text-align: center;
	padding: 2px 3px;
}
.float_M .car_bottom_div{
	text-align: center;
	padding: 2px 3px;
	
}
.car_bottom_div table{
	width: 100%;
	margin: auto;
}
.car_bottom_div table td{
	/*width: 32%;*/
	padding:4px;
	/*border: 1px solid #898989;*/
}
.car_bottom_div table th{
	padding:4px 10px;
}
