	body {
		background-color:#FFFFFF;
		padding: 0;
		margin: 0;
		position: relative;
	}
	
	h2 {
		margin-top: 30px;
		text-align: center;
		color: #299DFF;
	}
	
	.middle_image {
		margin: 60px auto 0px;
		width: 150px;
		height: 180px;
		background: white url(../img/scan_charging_img_2.png) no-repeat;
		background-origin: content-box;
		background-clip: content-box;
		background-size: 100% 100%;
		text-align: center;
	}
	
	.scanBtnClass {
		height: 60px;
		background-color:#FFFFFF;
		background: url(../img/扫描.png) no-repeat center;
		background-clip: content-box;
		background-origin: content-box;
		background-size: contain;
		line-height: 50px;
		width: 40%;
		outline: none;
		border: 1px solid #299DFF;
		border-radius: 5px;
		margin: 50px 30% 10px;
		font-size: 20px;
		padding: 10px 0;
		box-shadow: 1px 2px 3px 2px #299dff38;
	}
	
	p {
		text-align: center;
		color: rgb(105, 105, 105);
	}
	
	.hidden {
		display: none;
	}